.otherinfodiv{
  height: 58px;
}

.leftpart{
  width: 40%;
  height: 100%;
  background-color: white;
  float: left;
}

.rightpart{
  width: 60%;
  height: 100%;
  background-color: white;
  float: right;
  text-align: right;
  padding-right: 30px;
  line-height: 58px;
}

.firstpart{
  height: 100%;
  width: 2%;
  background-color: lightslategray;
  float: left;
}

.secondpart{
  height: 100%;
  width: 98%;
  background-color: white;
  float: right;
  padding-left: 30px;
}

.otherinfo_name{
  font-size: large;
  vertical-align: middle;
  line-height: 58px;
}

.otheritems{
  padding-top: 15px;
  padding-bottom: 15px;
}
