


<div>
  <table>
    <tr class="toptr">
      <td>
        <a href="{{topinfo.img_link}}"><img src="{{topinfo.img_url}}"></a>
      </td>
      <td class="top_td">
        <div class="container_fluid">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="search">
                <input type="image" class="btn_search" src="{{topinfo.img_search_url}}">
                <input type="text" class="text_search" placeholder="搜索查询">
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12" align="right">
            <table>
              <tr>
                <td><span class="logininfo_text">欢迎您，{{topinfo.logininfo}}</span></td>
                <td>
                  <input type="image" src="{{topinfo.login_url}}" class="btnlogin" data-toggle="modal" data-target="#myModal" (click)="onClickLogin()" style="display: inline" #login>
                  <input type="image" src="{{topinfo.login_url}}" class="btnlogin" (click)="onClickLogout()"  style="display: none" #logout>
                </td>
                <app-login-page (getLoginInfo)="onGetLoginInfo($event)"></app-login-page>
              </tr>
            </table>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="lefe_td">
        <div>
          <div class="leftbar_1">
            <a href="#" class="leftbar_1a" routerLink="/processcenter"><img src="{{leftbarinfos[0].pic_url}}" class="leftbar_pic1"><span class="leftbar_name">{{leftbarinfos[0].name}}</span></a>
          </div>
          <div class="leftbar_1">
            <a href="#" class="leftbar_1a" (mouseover)="onMouseOver(1)" (mouseleave)="onMouseLeave(1)" routerLink="/mainpage"><img src="{{leftbarinfos[1].pic_url}}" class="leftbar_pic2"><span class="leftbar_name">{{leftbarinfos[1].name}}</span></a>
          </div>
          <div class="leftbar_1">
            <a href="#" class="leftbar_1a"><img src="{{leftbarinfos[2].pic_url}}" class="leftbar_pic3"><span class="leftbar_name">{{leftbarinfos[2].name}}</span></a>
          </div>
          <div class="leftbar_1">
            <a href="#" class="leftbar_1a"><img src="{{leftbarinfos[3].pic_url}}" class="leftbar_pic4"><span class="leftbar_name">{{leftbarinfos[3].name}}</span></a>
          </div>
        </div>
      </td>
      <td class="right_td">
        <router-outlet></router-outlet>
      </td>
    </tr>
    <tr>
      <td class="bottom_td" colspan="2"></td>
    </tr>
  </table>
</div>

<script>
  total = document.documentElement.clientHeight;
  document.getElementsByClassName("lefe_td").style.height=total+"px";
</script>

